<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/stylehp.css"> 
    <style>   
    </style>
</head>

<body>
    
    <h1 style="font-size: 70px; text-align: center; font-family:'Helvetica Neue';" class="HPTitle"> Home </h1>
    <div class="search-bar">
        <input type="text" placeholder="Search for a course" />
        <button type="submit">Search</button>
    </div>
    <div class="Container">
        <div class="links-container">
            <a href="#1" class="assignmentslink">View Assignments</a>
            <a href="#2" class="studylink">Study</a>
            <a href="#3" class="joinclasslink">Join Class</a>
            <a href="#4" class="settingslink">Account Settings</a>
        </div>
    </div>
</body>

</html>
