<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="static/style.css"> 
</head>

<body>
    <div class="Container">
    <h1 style="font-size: 70px; text-align: center;" class="SignUpTitle" >Sign Up</h1>
    <div class="wrapper">
        <form action="/savedetails" method="POST">
            <div class="input-box">
                <input type="text" name="username" placeholder="Create Username">
            </div>
            <div class ="input-box">
                <input type="password" name="password" placeholder="Create Password">
                <input type="submit" value="Sign Up" class="btn" href=>
                </div>
            </div>
         </div>
    </form>
</body>


</html>